[http]
addr=127.0.0.1:3000

[appkeys]
keys=1818:202001161400

[mysql]
db_host=127.0.0.1:3306
db_name=pt_shop
user=root
pwd=root
collation=utf8mb4_unicode_ci
max_idle_conn=6
max_open_conn=12

[redis]
addr=127.0.0.1:6379
index=0
pwd=phantom2020
pool_size=10

[cache-redis]
addr=127.0.0.1:6379
index=1
pwd=phantom2020
pool_size=10

[task-redis]
addr=127.0.0.1:6379
index=9
pwd=phantom2020
pool_size=5

[oss]
access_id=
access_secret=
role_arn=
session_name=